*{
  margin:  0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-image: url(../images/wooden.jpg);
}

.linea{
  margin: 20px;
  height: 2px;
  background-color: white;
}

img{
  vertical-align: middle;
}

#primo{
  font-size: 30px;
  color: white;
}

#pulsante{
  border-radius: 5px;
}

p{
  font-size: 30px;
  color: white;
}

#numero{
  background-color: orange;
  padding: 12px;
  border-radius: 50%;
}

footer{
  text-align: center;
}

.selezione{
  font-size: 15px;
  color: black;
  background-color: lightgrey;
  border: 2px solid black;
}

.selezione1{
  font-size: 15px;
  color: black;
  background-color: white;
  border: 2px solid black;
}

#posta{
  margin: 0px;

}

body{
  margin: 20px;
}

#pulsante{
  margin: 20px;
}
